* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.main_header {
    background-color: #f07d00;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    box-shadow: 0px 5px 20px grey;
} 

.logo {
    width: 70px;
}

.main_header a {
    font-size: 20px;
    color: white;
    transition: 0.3s;
}

.main_header a:hover {
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

.main_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}

.main_title img {
    width: 300px;
}

.main_title div h1 {
    font-size: 100px;
    color: #f07d00;
}

.main_title div h2 {
    font-size: 50px;
    margin-left: 100px;
}

.cover {
    margin: 0 auto;
    width: 1200px;
    display: flex;
    justify-content: center;
}

.cover img {
    width: 1500px;
    box-shadow: 10px 10px 10px #f07c0092;
}

#quoi {
    margin-top: 100px;
}

.block {
    width: 1200px;
    margin: 0 auto 50px;
    padding-top: 50px;
}

.block h3 {
    color: #f07d00;
    font-size: 40px;
    margin-bottom: 40px;
}

.block .accroche {
    font-size: 30px;
    font-weight: bold;
    margin-left: 40px;
    margin-bottom: 20px;
}

.block p {
    font-size: 20px;
    text-align: justify;
    margin-left: 80px;
}

.separation {
    content: "";
    background-color: #f07d00;
    border: none;
    border-radius: 10px;
    width: 800px;
    height: 5px;
    margin: 0 auto;
}